@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    position: relative;
    height: 100vh;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.game-board {
    background: white;
    height: 500px;
    width: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 5px rgb(0, 0, 0, .3);
    border-radius: 10px;
    display: flex;
    color: white;
    background: #de84fa;
}

.player-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 3rem 1rem;
}

.player-box.active {
    background: #8fd3f4;
}

.player-box h2 {
    font-size: 2.3rem;
    text-transform: uppercase;
    height: 25%;
}

.total-point-box {
    width: 60%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.total-point-box span {
    font-size: 4rem;
    margin-top: 2rem;
}

.current-point-box {
    background: #84fab0;
    font-size: 1.5rem;
    width: 50%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 5px rgb(0, 0, 0, .3);
    padding: .7rem 0;
}

.current-point {
    font-size: 2.5rem;
    margin-top: 1rem;
}

.new-game-btn,
.roll-dice-btn,
.hold-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: .5rem 1rem;
    border: none;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.719);
}

.new-game-btn {
    top: 10%;
}

.roll-dice-btn {
    bottom: 25%;
}

.hold-btn {
    bottom: 12%;
}